.product-detail-sec {
    padding: 9.7561rem 0 0;
}

.product-detail-sec .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.78049rem;
}

.product-detail-sec .thumbnails-slider {
    width: 50%;
}

.product-detail-sec .swiper-slide {
    padding-bottom: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-detail-sec .swiper-slide img {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.product-detail-sec .detail-info {
    padding-left: 3.90244rem;
    width: 50%;
}

.product-detail-sec .detail-info .desc {
    margin: 1.95122rem 0 4.68293rem 0;
}

.product-detail-sec .text-small {
    font-size: 1.24878rem;
    color: #909094;
}

.product-detail-sec .tab-content {
    margin: 4.39024rem 0;
}

.product-detail-sec .tab-content .price {
    color: rgb(8, 81, 134);
    font-size: 3.02439rem;
    font-family: "Roboto-bold", "sans-serif";
    margin-top: 0.97561rem;
}

.product-detail-sec .btn-detail {
    display: inline-block !important;
    width: auto !important;
    border-radius: 4px !important;
    width: 14.14634rem !important;
    text-align: center !important;
    height: 40px !important;
    color: white !important;
    line-height: 40px;
    font-size: 1.56098rem !important;
}

.thumbnails-slider {
    overflow: hidden;
}

.big-thumb-slider {
    text-align: center;
}

.thumb-slider {
    margin-top: 1.17073rem;
    position: relative;
}

.thumb-slider .swiper-slide {
    padding-bottom: 25%;
    border: 2px solid transparent;
    cursor: pointer;
    width: 7.80488rem !important;
    height: 7.80488rem;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.thumb-slider .swiper-slide img {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 92%;
    height: 92%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #80C1D1;
}

.thumb-slider .swiper-slide.swiper-slide-thumb-active {
    border-color: rgb(8, 81, 134);
}

.thumb-slider .swiper-button-next,
.thumb-slider .swiper-button-prev {
    height: 100%;
    top: 0;
    margin: 0;
    font-size: 1.56098rem;
}

.thumb-slider .swiper-button-next {
    right: 0;
    width: 1.95122rem;
}

.thumb-slider .swiper-button-prev {
    left: 0;
    width: 1.95122rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filter-tabs .swiper-slide {
    width: auto !important;
}

.tab-filter {
    font-size: 1.95122rem;
    color: #909094;
    padding: 0;
    height: auto;
    margin-bottom: 3.12195rem;
    line-height: 1.4;
}

.tab-filter.current {
    color: rgb(8, 81, 134);
}

.detail-list {
    padding: 6.04878rem 0 0;
}

.detail-item {
    display: none;
}

.detail-item.current {
    display: block;
}

.product-list-sect .top {
    margin-bottom: 4.68293rem;
    max-width: 50.82927rem;
    padding-top: 2.92683rem;
}

.document-form-sect .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.document-form-sect .title {
    margin-bottom: 4.68293rem;
}

.document-list {
    grid-template-columns: 1fr 1fr;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 0;
}

.form-block {
    padding-left: 3vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.form-block .top-text {
    font-size: 2.43902rem;
}

.form-block .has-underline {
    margin-bottom: 2.92683rem;
    font-size: 1.95122rem;
}

.form-block .contact-form {
    max-width: 50.82927rem;
    background-color: rgb(8, 81, 134);
    color: #fff;
    padding: 5.36585rem 6.34146rem;
}

.form-block label {
    font-size: 1.24878rem;
    margin-bottom: 0.97561rem;
}

.form-block .form-control {
    color: #fff;
}

.form-block .form-control::-webkit-input-placeholder {
    color: #f1f1f1;
}

.form-block .form-control::-moz-placeholder {
    color: #f1f1f1;
}

.form-block .form-control::-ms-input-placeholder {
    color: #f1f1f1;
}

.form-block .form-control::placeholder {
    color: #f1f1f1;
}

.form-block .form-control:focus {
    background-color: transparent;
}

.form-block .btn-white {
    background: #E9FBFF;
    color: rgb(8, 81, 134);
}

.form-block .bottom {
    margin-top: 1.17073rem;
}

.related-solution-sect {
    padding-bottom: 11.70732rem;
    position: relative;
}

.related-solution-sect .top {
    max-width: 50.82927rem;
}

.related-solution-sect .solution-list {
    position: relative;
    z-index: 11;
}

.related-solution-sect::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 44.87805rem;
    background-color: #E9FBFF;
    left: 0;
    bottom: 0;
}

.form-select {
    color: #fff;
    -webkit-filter: brightness(100);
    filter: brightness(100);
}

.form-select option {
    color: #464648;
}

@media screen and (max-width: 1024px) {
    .product-detail-sec .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .product-detail-sec .thumbnails-slider {
        width: 100%;
    }
    .product-detail-sec .detail-info {
        padding: 5.46341rem 0;
        width: 100%;
    }
    .document-form-sect .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .document-list {
        grid-template-columns: 1fr;
    }
    .form-block {
        padding: 0;
        overflow: hidden;
        margin: 4.87805rem -5vw;
    }
    .form-block .has-underline {
        font-size: 1.56098rem;
    }
    .form-block .contact-form {
        max-width: none;
        padding: 5.07317rem 5vw;
    }
    .related-solution-sect {
        padding-bottom: 1.95122rem;
    }
}