.top-banner {
    padding: 14.63415rem 0 0;
    max-height: 93.85366rem;
}

.top-banner .top {
    padding-left: 10vw;
}

.top-banner .category {
    font-size: 1.95122rem;
}

.has-cover-img {
    background-image: url('../images/about-bg.png');
}

.thumb-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14.63415rem -0.97561rem 8.78049rem 0;
}

.thumb-list .item {
    padding: 0 0.97561rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.thumb-list .item:first-child {
    width: 23.83%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.thumb-list .item:nth-child(2) {
    width: 15.39%;
    padding-top: 0.97561rem;
}

.thumb-list .item:nth-child(3) {
    width: 32.26%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: -7.80488rem;
}

.thumb-list .item:last-child {
    width: 28.52%;
}

.thumb-list .item img {
    width: 100%;
}

.gs-bg-sect {
    padding-left: 5vw;
}

.gs-bg-sect .category {
    font-size: 1.95122rem;
}

.gs-bg-sect .click-me-btn {
    font-size: 1.24878rem;
}

.library-sec {
    padding: 8.39024rem 0;
}

.library-sec .library-list {
    margin-top: 5.85366rem;
}

.statistic-sect {
    padding: 6.92683rem 0 7.80488rem;
    background-color: rgb(8, 81, 134);
}

.statistic-sect .title {
    color: #fff;
}

.statistic-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    margin-top: 7.80488rem;
    position: relative;
}

.statistic-numbers .item {
    width: 25%;
    padding-right: 1.95122rem;
}

.statistic-numbers .stroke-number {
    color: rgb(8, 81, 134);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgb(8, 81, 134)), color-stop(32.71%, rgba(0, 130, 161, 0))), radial-gradient(73.42% 46.02% at 4.47% 40.83%, #37AE5E 0%, rgba(55, 174, 94, 0) 100%), radial-gradient(38.42% 30.42% at 95.53% 32.92%, #F49D00 0%, rgba(244, 157, 0, 0) 100%), -webkit-gradient(linear, left top, left bottom, color-stop(36.25%, #FFFFFF), color-stop(80%, rgba(255, 255, 255, 0)));
    background: linear-gradient(0deg, rgb(8, 81, 134) 20%, rgba(0, 130, 161, 0) 32.71%), radial-gradient(73.42% 46.02% at 4.47% 40.83%, #37AE5E 0%, rgba(55, 174, 94, 0) 100%), radial-gradient(38.42% 30.42% at 95.53% 32.92%, #F49D00 0%, rgba(244, 157, 0, 0) 100%), linear-gradient(180deg, #FFFFFF 36.25%, rgba(255, 255, 255, 0) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 4px transparent;
    font-size: 11.74vw;
    display: inline-block;
    white-space: nowrap;
    line-height: 1.4;
}

.statistic-numbers .type {
    margin-top: -0.97561rem;
    font-size: 1.95122rem;
}

.statistic-numbers:after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% + 10vw);
    top: 12.5vw;
    left: -5vw;
    background-color: #fff;
}

.mission-sect {
    padding: 8.4878rem 0;
}

@media screen and (min-width: 1025px) {
    .vgsi-sect .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .mission-sect .thumb {
        width: 55%;
    }
}

@media screen and (max-width: 1024px) {
    .top-banner {
        overflow: hidden;
        padding-bottom: 11.70732rem;
    }
    .top-banner .top {
        padding: 0;
    }
    .thumb-list {
        margin: 0 -5vw;
    }
    .thumb-list .item {
        padding: 0 0.29268rem;
    }
    .thumb-list .item:nth-child(3) {
        margin-bottom: -2.92683rem;
    }
    .statistic-numbers {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .statistic-numbers .item {
        width: 100%;
        padding: 0;
        margin-bottom: 8.19512rem;
    }
    .statistic-numbers::after {
        display: none;
    }
    .statistic-numbers .stroke-number {
        font-size: 15.60976rem;
        position: relative;
        display: inline-block;
        line-height: 1;
        margin-bottom: 2.43902rem;
    }
    .statistic-numbers .stroke-number:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 1.95122rem;
        background-color: #fff;
    }
    .mission-sect {
        padding: 4.78049rem 0;
    }
}