.search-sect {
    background-color: rgb(8, 81, 134);
    background-position: 0 12.68293rem;
    padding: 8.39024rem 15vw 12.39024rem 15vw;
    color: #fff;
}

.search-sect .desc {
    color: inherit;
    max-width: 68.29268rem;
}

.inputs-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inputs-group .form-group-checkbox:not(:last-child) {
    margin-right: 2.92683rem;
}

.form-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-controls .type {
    margin-bottom: 0;
}

.form-controls .control-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-controls .control-item .type {
    margin-bottom: 0;
}

.form-controls .control-item:not(:last-child) {
    margin-right: 1.95122rem;
}

.form-controls input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: auto;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #CECED4;
    width: 7.02439rem;
    margin-left: 1.17073rem;
    background-color: transparent;
}

.search-outer {
    margin: 0 auto;
    padding: 2.63415rem 0 0 0;
    position: relative;
}

.search-outer>p {
    font-size: 1.95122rem;
}

.search-outer .search-wrapper {
    position: relative;
}

.search-outer .search-wrapper::before {
    content: '';
    position: absolute;
    height: 19.60976rem;
    background: url("../images/glow.svg") no-repeat 100%;
    -webkit-filter: blur(140px);
    filter: blur(140px);
    width: 100%;
    bottom: 9.7561rem;
}

.search-outer .searchForm {
    margin-top: 1.7561rem;
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    height: 7.60976rem;
    border-bottom: 4px solid rgb(8, 81, 134);
    background: rgba(255, 255, 255, 0.78);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.search-outer input {
    background-color: transparent;
}

.search-outer input::-webkit-input-placeholder {
    color: rgb(8, 81, 134);
}

.search-outer input::-moz-placeholder {
    color: rgb(8, 81, 134);
}

.search-outer input::-ms-input-placeholder {
    color: rgb(8, 81, 134);
}

.search-outer input::placeholder {
    color: rgb(8, 81, 134);
}

.search-suggestion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    padding-top: 1.56098rem;
    margin-bottom: 2.14634rem;
}

.estimation-sect {
    padding: 20rem 0 12.68293rem;
}

.estimation-sect .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.estimation-sect .wrapper-form {
    max-width: 40.29268rem;
}

.estimation-sect .content {
    width: 40%;
}

.estimation-sect .content .heading {
    font-family: "Roboto-Light", "sans-serif";
    font-size: 2.92683rem;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: rgb(8, 81, 134);
    margin-bottom: 1.56098rem;
}

.estimation-sect .content .heading span {
    font-family: "Roboto-medium", "sans-serif";
}

.estimation-sect .content .para {
    color: #909094;
    font-size: 1.24878rem;
    line-height: 1.6;
}

.estimation-sect .content .para span {
    font-family: "Roboto-bold", "sans-serif";
    font-size: 1.36585rem;
}

.estimation-sect .content .para span.hl-text {
    color: rgb(8, 81, 134);
}

.estimation-sect .groups {
    padding-top: 3.41463rem;
}

.estimation-sect .type {
    color: #00586E;
    font-size: 1.24878rem;
    margin-bottom: 1.17073rem;
    white-space: nowrap;
}

.estimation-sect .tab-content {
    margin-top: 3.90244rem;
}

.estimation-sect .btn-submit {
    margin-top: 4.39024rem;
}

.download-section {
    padding: 6.53659rem 0;
}

.click-me-btn {
    font-size: 1.24878rem;
    margin-top: 2.34146rem;
}

.list-sect {
    overflow: hidden;
}

.list-sect .top {
    max-width: 50.82927rem;
    margin: 6.82927rem 0 0;
}

.list-sect .news-list {
    padding-top: 1.95122rem;
}

.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.95122rem;
    -webkit-column-gap: 1.95122rem;
    -moz-column-gap: 1.95122rem;
    column-gap: 1.95122rem;
    margin-top: 3.90244rem;
}

.responsive-table {
    border-bottom: 1px solid #E1E1E1;
}

.responsive-table li {
    padding: 1.17073rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.36585rem;
    text-align: center;
}

.responsive-table li:nth-child(even) {
    background-color: #F1F1F1;
}

.responsive-table .table-header {
    background-color: rgb(8, 81, 134);
    color: #fff;
}

.responsive-table .table-header .col:not(:last-child) {
    border-right: 1px solid rgba(241, 241, 241, 0.2);
}

.responsive-table .table-row {
    background-color: #fff;
    white-space: nowrap;
}

.responsive-table .table-row .col:not(:last-child) {
    position: relative;
}

.responsive-table .table-row .col:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: -1.17073rem;
    display: block;
    height: calc(100% + 24px);
    width: 1px;
    background-color: #fff;
}

.responsive-table .t-col-1 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
}

.responsive-table .t-col-4 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}

.responsive-table .btn-download {
    padding: 0;
    height: auto;
    text-decoration: underline;
    color: #909094;
    font-size: 1.36585rem;
    padding-bottom: 0.4878rem;
}

.responsive-table .table-row .t-col-1,
.responsive-table .table-header .t-col-1 {
    text-align: left;
    white-space: normal;
}

.responsive-table .table-row .t-col-4,
.responsive-table .table-header .t-col-4 {
    text-align: right;
}

.responsive-table .table-row .t-col-1 {
    padding-left: 2.53659rem;
    position: relative;
}

.responsive-table .table-row .t-col-1:before {
    font-family: "icomoon";
    content: "\e906";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    font-size: 1.56098rem;
    line-height: 1;
}

.responsive-table .capacity {
    font-family: "Roboto", "sans-serif";
    color: #909094;
    font-size: 1.24878rem;
}

.grid-nav-section {
    padding-top: 0;
}

.grid-nav-section .left-col {
    padding-left: 2.2439rem;
    padding-top: 3.90244rem;
}

.grid-nav-section .item {
    background-color: #f1f1f1;
    -webkit-transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
}

.grid-nav-section .item:hover {
    color: #fff;
    background-color: rgb(8, 81, 134);
    -webkit-transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
}

.grid-nav-section .item .desc {
    position: relative;
    padding-right: 1.95122rem;
    color: inherit;
}

.grid-nav-section .item .desc:after {
    content: '\e91c';
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    font-family: "icomoon";
}

.grid-nav-section .item:nth-child(1),
.grid-nav-section .item:nth-child(2),
.grid-nav-section .item:nth-child(3) {
    border-bottom: 1px solid #c5c5c5;
}

.library-list {
    grid-template-columns: 1fr 1fr 1fr;
}

.library-list .item .thumb {
    max-height: 320px;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .search-sect {
        padding: 0;
    }
    .estimation-sect .inputs-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .estimation-sect .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .estimation-sect .wrapper-form {
        margin-bottom: 4.87805rem;
    }
    .estimation-sect .content {
        width: 100%;
    }
    .estimation-sect .content .heading {
        font-size: 2.34146rem;
        line-height: 1.3;
    }
    .estimation-sect .groups .nav-item:first-child {
        margin-bottom: 1.17073rem;
    }
    .estimation-sect .form-controls {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .estimation-sect .control-item {
        margin-bottom: 1.95122rem;
    }
    .library-list {
        grid-template-columns: 1fr;
    }
    .document-swiper-container {
        width: 100%;
        position: relative;
        padding-bottom: 4.87805rem;
    }
    .document-list {
        display: auto;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }
    .tables {
        grid-template-columns: 1fr;
    }
}